fastapi
uvicorn

sentence-transformers
transformers
torch
accelerate

faiss-cpu
numpy
pandas
requests
datasets
scikit-learn
pytest

langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.52
langchain-openai==0.1.7

ragas==0.1.9

mistralai
langchain-mistralai

python-dotenv