fastapi
uvicorn
sentence-transformers
transformers
torch
faiss-cpu
numpy
pandas
requests
datasets
pytest
scikit-learn

langchain==1.3.9
langchain-community==0.3.27
langchain-core==1.3.3
langchain-openai==1.1.14

ragas==0.1.9

mistralai
langchain-mistralai

python-dotenv